<div>
  <button (click)="create()" [disabled]="isBusy">create</button>
  <button (click)="deleteAll()" [disabled]="isBusy">delete all</button>
  <button (click)="refresh()" [disabled]="isBusy">refresh</button>
</div>
<div>
  <input type="text" [formControl]="name">
  <input type="text" [formControl]="age">
  {{name.value}}
  {{age.value}}
</div>
<table>
  <tr>
    <th>&nbsp;</th>
    <th>Nom</th>
    <th>Age</th>
  </tr>
  <tr *ngFor="let cat of cats">
    <td></td>
    <td> {{ cat.name }}</td>
    <td>{{ cat.age }} </td>
  </tr>
</table>
